{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/all.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/fontawesome.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/main.css' %} ">
    <!----------------------------------------------------------------->
    <!-- container / justify-content / float / align-items -->
	<!-- primary / secondary / success / danger / warning / info / light / dark -->
    <!----------------------------------------------------------------->
    
 	<script type="text/javascript" src="{% static 'ask/js/fontawesome.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'ask/js/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'ask/js/popper.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'ask/js/bootstrap.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'ask/js/main.js' %} "></script>
</head>
{% block content %}
  

{% endblock content %}